/* label focus color */
.input-field input:focus + label {
    color: #0C579B !important;
  }
  /* label underline focus color */
  .row .input-field input:focus {
    border-bottom: 1px solid #0C579B !important;
    box-shadow: 0 1px 0 0 #0C579B !important
  }
  /* icon prefix focus color */
  .input-field .prefix.active {
    color: #0C579B;
  }
       